<div id="feedback_dps_${w.pali_}" class="content_dps hidden">
  <a
    class="button_dps close"
    href="javascript:void(0);"
    onclick="button_click(this)"
    data-target="feedback_dps_${w.pali_}">
    close
  </a>
  
  <p>
    Devamitta Pāḷi Study is a work in progress, made available for testing and feedback purposes.
    <br>
    Whis work based on <a class="link" href="https://digitalpalidictionary.github.io/">DPD</a><span></span> <b>Digital Pāḷi Dictionary by Ven. Bodhirasa. </b> <br>(Please explore this website to learn more about GoldenDict features)
    <br>
    Full details you can see in <b>Help</b> или <b>Помощь</b>
    <br>
    The list of abbreviations you can see in <b>Abbr</b>
    <br>
    The list of literature you can see in <b>Info</b>
  </p>

  <p>
    <a
    class="link"
    href="https://docs.google.com/forms/d/1iMD9sCSWFfJAFCFYuG9HRIyrr9KFRy0nAOVApM998wM/viewform?usp=pp_url&entry.438735500=${w.pali}&entry.1433863141=GoldenDict ${today}"
    target="_blank">
    Сообщить об ошибке.
    </a>
    <span> Ваши предложения и комментарии будут неоценимой помощью в улучшении качества данной работы и будут полезны всем пользователям словаря.</span>
  </p>

  <p>
    <a
      class="link"
      href="https://onlyoffice.fritz.box/Products/Files/DocEditor.aspx?fileid=99&doc=RFVrcjQ5ODJqamxmemIwbHE2cGF6NVJFK0p0QWFvS2tLcUJDbGVibWdpdz0_Ijk5Ig2"
      >
      Report a mistake
    </a>
    <span> Did you spot a mistake in the dictionary? Have a bright idea? Please report it. It
      generally takes less than a minute and your corrections and suggestions help to improve the quality of this
      dictionary for everyone who uses it.</span>
  </p>

  <p>
    <a
      class="link"
      href="https://drive.google.com/drive/folders/18Js2o8p4DF42ViwiDO5s7VwNcolSNwhL?usp=sharing">
      Update.
    </a>
    <span>
      Please regularly ckeck for new version. 
    </span>
    <p> You are using DPS GoldenDict created on <b>${today}</b>.</p>
  </p>
</div>