<%page args='word, conjugations, declensions, indeclinables, table_data_read'/>
<%namespace file='/lib.mako' import='google_link_dps_ru, today'/>
<%
    mailto_href = (
        'mailto:devamitta@sasanarakkha.org?subject='
        'Участие&body=Пожалуйста, дайте мне знать, как я могу принять участие в развитии Словаря.')

    button_template = (
        '<a class="button_dps_full" href="javascript:void(0);" onclick="button_click(this)"'
        ' data-target="{target}">{name}</a>')

    examples = [i for i in [word.sbs_example_1, word.sbs_example_2, word.sbs_example_3, word.sbs_example_4] if i != '']

    pos_string = ''
    if word.pos != '':
        derived_entry = f'<i>от {word.derived_from}</i>' if word.derived_from else ''
        pos_entries = [i for i in [word.grammar, word.neg, word.verb, word.trans] if i != '']
        pos_string += ', '.join(pos_entries)
        if word.plus_case != '':
            pos_string += f' ({word.plus_case})'
%>

<body>
% if not word.ru_meaning:
<div class="content_dps_full">
    <p>
        % if word.meaning_1 != '':
        ${word.pos}. <b>${word.meaning_1}</b> [в процессе]
        % else:
        ${word.pos}. <b>${word.meaning_2}</b> [в процессе]
        % endif
        <span class="gray">${word.id}</span>
    </p>
</div>
% else:
<div class="content_dps_full">
    <p>
        % if word.pos:
        ${word.pos}.
        % endif
        <b>${word.ru_meaning}</b>
        % if word.ru_meaning_lit != '':
        <b>; досл. ${word.ru_meaning_lit}</b>
        % endif
        <span class="gray">${word.id}</span>
    </p>
</div>
% endif


<div class="button-box">
    % if word.ru_meaning != '':
${button_template.format(target=f'grammar_dps_full_{word.pali_}', name='грамматика')}\
    % endif
    % if len(examples) == 1:
${button_template.format(target=f'example_dps_full_{word.pali_}', name="пример")}\
    % elif len(examples) > 1:
${button_template.format(target=f'example_dps_full_{word.pali_}', name='примеры')}\
    % endif
    % if word.pos_orig in conjugations:
${button_template.format(target=f'conjugation_dps_full_{word.pali_}', name='спряжения')}\
    % endif
    % if word.pos_orig in declensions:
${button_template.format(target=f'declension_dps_full_{word.pali_}', name='склонения')}\
    % endif
${button_template.format(target=f'feedback_dps_full_{word.pali_}', name='о словаре')}
</div>

<div id="grammar_dps_full_${word.pali_}" class="content_dps_full hidden">
    <table class = "table1_dps_full">
        % if word.pos != '':
        <tr>
            <th>часть речи</th>
            <td>${pos_string}</td>
        </tr>
        % endif

        <tr valign="top">
            <th>английский</th>
            <td>
                % if word.meaning_1 != '':
                <b>${word.meaning_1}</b>
                % else:
                <b>${word.meaning_2}</b>
                % endif
        % if word.meaning_lit != '':
        <b>; lit. ${word.meaning_lit}</b>
        % endif
        </td></tr>

        % if word.ru_meaning != "":
        <tr valign="top"><th>русский</th><td><b>${word.ru_meaning}</b>
        % if word.ru_meaning_lit != '':
        <b>; досл. ${word.ru_meaning_lit}</b>
        % endif
        </td></tr>
        % endif

        % if word.root != "":
        <tr valign="top"><th>корень</th><td>${word.root} ${word.root_group} ${word.root_sign} (${word.root_meaning})</td></tr>
        % endif
        % if word.root_base != "":
        <tr valign="top"><th>основа</th><td>${word.root_base}</td></tr>
        % endif
        % if word.construction != "":
        <tr valign="top"><th>образование</th><td>${word.construction}</td></tr>
        % endif
        % if word.compound_type != '':
        <tr valign="top"><th>cоставное</th><td>${word.compound_type} (${word.compound_construction})</td></tr>
        % endif
        % if word.derivative != '':
        <tr valign="top"><th>производное</th><td>${word.derivative} (${word.suffix})</td></tr>
        % endif
        % if word.phonetic != '':
        <tr valign="top"><th>морф. измен.</th><td>${word.phonetic}</td></tr>
        % endif
        % if word.variant != "":
        <tr valign="top"><th>вариант</th><td>${word.variant}</td></tr>
        % endif
        % if word.commentary != "":
        <tr valign="top"><th>комментарий</th><td>${word.commentary}</td></tr>
        % endif
        % if word.notes != "":
        <tr valign="top"><th>заметки</th><td>${word.notes}</td></tr>
        % endif
        % if word.sanskrit != "":
        <tr valign="top"><th>санскрит</th><td><i>${word.sanskrit}</i></td></tr>
        % endif
        % if word.sanskrit_root != "":
        <tr valign="top"><th>санск. корень</th><td><i>${word.sanskrit_root} ${word.sanskrit_root_class} (${word.sanskrit_root_meaning})</i></td></tr>
        % endif
    </table>
    <p>
        ${google_link_dps_ru(entry=word.pali, text='Пожалуйста, сообщите об ошибке')}.
    </p>
</div>

<div id="example_dps_full_${word.pali_}" class="content_dps_full hidden">
    % if word.sbs_example_1 != '':
    <p>
        ${word.sbs_example_1}
        <p class="sutta_dps_full">
            % if word.sbs_source_link_1 != '':
                <a href="${word.sbs_source_link_1}">${word.sbs_source_1}</a> 
            % else:
                ${word.sbs_source_1} 
            % endif
            ${word.sbs_sutta_1}</p>
    </p>
    % endif
    % if word.sbs_example_2 != '':
    <p>
        ${word.sbs_example_2}
        <p class="sutta_dps_full">
            % if word.sbs_source_link_2 != '':
                <a href="${word.sbs_source_link_2}">${word.sbs_source_2}</a> 
            % else:
                ${word.sbs_source_2} 
            % endif
            ${word.sbs_sutta_2}</p>
    </p>
    % endif
    % if word.sbs_example_3 != '':
    <p>
        ${word.sbs_example_3}
        <p class="sutta_dps_full">
        % if word.sbs_source_link_3 != '':
            <a href="${word.sbs_source_link_3}">${word.sbs_source_3}</a> 
        % else:
            ${word.sbs_source_3} 
        % endif
            ${word.sbs_sutta_3}
        </p>
    </p>
    % endif
    % if word.sbs_example_4 != '':
    <p>
        ${word.sbs_example_4}
        <p class="sutta_dps_full">
        % if word.sbs_source_link_4 != '':
            <a href="${word.sbs_source_link_4}">${word.sbs_source_4}</a> 
        % else:
            ${word.sbs_source_4} 
        % endif
            ${word.sbs_sutta_4}
        </p>
    </p>
    % endif
    Пожалуйста, подскажите более подходящий ${google_link_dps_ru(entry=word.pali, text='пример', args=['&entry.326955045=Пример2'])}.
    </p>
</div>

% if word.pos_orig not in indeclinables:
    % if word.pos_orig in declensions:
<div id="declension_dps_full_${word.pali_}" class="content_dps_full hidden">
    % elif word.pos_orig in conjugations:
<div id="conjugation_dps_full_${word.pali_}" class="content_dps_full hidden">
    % endif
${table_data_read}
    % if word.pos_orig != 'sandhi' and word.pos_orig != 'idiom' and (word.pos_orig in declensions or word.pos_orig in conjugations):
    <p>
        У вас есть предложение? ${google_link_dps_ru(entry=word.pali, text='Пожалуйста, сообщите об ошибке')}
    </p>
    % endif
</div>
% endif

<div id="feedback_dps_full_${word.pali_}" class="content_dps_full hidden">

    <p>
        Это образовательный проект и находится на стадии тестирования и редактирования.
        <br>
        Словарь основывается на <a class="link" href="https://digitalpalidictionary.github.io/">DPD</a> - <b>Электронный Словарь Пали (от Дост. Бодхираса).</b> В дополнение к тому, что он охватывает намного больше слов, он также предоставляет глубокую грамматическую и морфологическую информацию.
        <br>
        <b>Помощь.</b> Чтобы увидеть подробное описание пожалуйста кликните на любое заглавие или сокращение.
        
        Список литературы можно увидеть в статье <b>Источники</b>.
    </p>
  
    <p>
        ${google_link_dps_ru(entry=word.pali, text='Сообщить об ошибке')}.
        <span>
            Ваши предложения и комментарии будут неоценимой помощью в улучшении
            качества данной работы и будут полезны всем пользователям словаря.
        </span>
    </p>

    <p>
      <span>Ваша версия словаря от <b>${today()}</b>. Пожалуйста, регулярно проверяйте наличие обновлений.</span>
    </p>

    <p>
      <a class="link" href="https://devamitta.github.io/pali/">Веб страница</a>.
      <span>Можно найти свежую версию словаря; узнать больше о функциях, как установить и настроить.</span>
    </p>
  
    <p>
      <a class="link" href="${mailto_href}">Принять участие</a>.
      <span>Если вы программист или хорошо знаете Пали или как-то хотите
        поддержать проект, помощь приветствуется!</span>
    </p>
    <p>
        При поддержке <a class="link" href="https://sasanarakkha.org/">Sāsanārakkha Buddhist Sanctuary</a>.
    </p>
</div>
</body>

## vi: syn=mako
