<%page args='word, conjugations, declensions, indeclinables, table_data_read'/>
<%namespace file='/lib.mako' import='google_link_sbs, today'/>
<%
    button_template = (
        '<a class="button_sbs" href="javascript:void(0);" onclick="button_click(this)"'
        ' data-target="{target}">{name}</a>')

    examples = [i for i in [word.sbs_example_1, word.sbs_example_2, word.sbs_example_3, word.sbs_example_4] if i != '']

    pos_string = ''
    if word.pos != '':
        derived_entry = f'<i>from {word.derived_from}</i>' if word.derived_from else ''
        pos_entries = [i for i in [word.grammar, word.neg, word.verb, word.trans] if i != '']
        pos_string += ', '.join(pos_entries)
        if word.plus_case != '':
            pos_string += f' ({word.plus_case})'

%>

<%def name='list_non_empty(values)'>
<% result = ', '.join([str(i) for i in values if i]) %>
${result}
</%def>

<body>
<div class="content_sbs">
    <p>
        % if word.sbs_class_anki != '':
        <b>(cl.${word.sbs_class_anki}) | </b>
        %endif
        % if word.sbs_category != '':
        <i>(s) | </i>
        %endif
        % if word.pos != '':
        ${word.pos}.
        % endif
        % if word.sbs_meaning != '':
        <b>${word.sbs_meaning}</b>
        % elif word.meaning_1 == '' and word.meaning_2 != '':
        <b>${word.meaning_2}${';' if word.sbs_meaning else ''} ${word.sbs_meaning}</b>
        % else:
        <b>${word.meaning_1}</b>
        % endif
        % if word.meaning_lit != '':
        ; lit. ${word.meaning_lit}
        % endif
    </p>
</div>

<div class="button-box">
    % if word.meaning_1 == '':
${button_template.format(target=f'grammar_sbs_{word.pali_}', name='grammar')}\
    % endif
    % if len(examples) == 1:
${button_template.format(target=f'example_sbs_{word.pali_}', name='example')}\
    % elif len(examples) > 1:
${button_template.format(target=f'example_sbs_{word.pali_}', name='examples')}\
    % endif
${button_template.format(target=f'feedback_sbs_{word.pali_}', name='feedback')}
</div>

<div id="grammar_sbs_${word.pali_}" class="content_sbs hidden">
    <table class = "table1_sbs">
        % if word.pos != '':
        <tr>
            <th>Grammar</th>
            <td>${pos_string}</td>
        </tr>
        % endif

        <tr valign="top"><th>Meaning</th><td><b>${word.meaning_2}</b>
        % if word.sbs_meaning != '':
        <b>; ${word.sbs_meaning}</b>
        % endif
        % if word.meaning_lit != '':
        <b>; lit. ${word.meaning_lit}.</b>
        % endif
        </td></tr>

        % if word.root != '':
        <tr valign="top"><th>Root</th><td>${word.root}</td></tr>
        % endif
        % if word.root_base != '':
        <tr valign="top"><th>Base</th><td>${word.root_base}</td></tr>
        % endif
        % if word.construction != '':
        <tr valign="top"><th>Construction</th><td>${word.construction}</td></tr>
        % endif
        % if word.compound_type != '':
        <tr valign="top"><th>Compound</th><td>${word.compound_type} (${word.compound_construction})</td></tr>
        % endif
        % if word.derivative != '':
        <tr valign="top"><th>Derivative</th><td>${word.derivative} (${word.suffix})</td></tr>
        % endif
        % if word.phonetic != '':
        <tr valign="top"><th>Phonetic</th><td>${word.phonetic}</td></tr>
        % endif
        % if word.variant != '':
        <tr valign="top"><th>Variant</th><td>${word.variant}</td></tr>
        % endif
        % if word.commentary != '':
        <tr valign="top"><th>Commentary</th><td>${word.commentary}</td></tr>
        % endif
        % if word.notes != '':
        <tr valign="top"><th>Notes</th><td>${word.notes}</td></tr>
        % endif
        % if word.sanskrit != '':
        <tr valign="top"><th>Sanskrit</th><td><i>${word.sanskrit}</i></td></tr>
        % endif
        % if word.sanskrit_root != '':
        <tr valign="top"><th>Sk root</th><td><i>${word.sanskrit_root}</i></td></tr>
        % endif
    </table>
    <p>
        ${google_link_sbs(entry=word.pali, text='Report a mistake')}.
    </p>
</div>

<div id="example_sbs_${word.pali_}" class="content_sbs hidden">
    % if word.sbs_example_1 != '':
    <p>
        ${word.sbs_example_1}<p class="sutta_sbs">${word.source_1} ${word.sutta_1}</p>
        % if word.sbs_chapter_1 != '':
        <p class="sutta_sbs">
            ${list_non_empty([word.sbs_chapter_1, word.sbs_chant_pali_1, word.sbs_chant_eng_1])}
        </p>
        % endif
    </p>
    % endif
    % if word.sbs_example_2 != '':
    <p>
        ${word.sbs_example_2}<p class="sutta_sbs">${word.source_2} ${word.sutta_2}</p>
        % if word.sbs_chapter_2 != '':
        <p class="sutta_sbs">
            ${list_non_empty([word.sbs_chapter_2, word.sbs_chant_pali_2, word.sbs_chant_eng_2])}
        </p>
        %endif
    </p>
    % endif
    % if word.sbs_example_3 != '':
    <p>
        ${word.sbs_example_3}
        <p class="sutta_sbs">
            ${word.sbs_source_3} ${word.sbs_sutta_3}
        </p>
        % if word.sbs_chapter_3 != '':
        <p class="sutta_sbs">
            ${list_non_empty([word.sbs_chapter_3, word.sbs_chant_pali_3, word.sbs_chant_eng_3])}
        </p>
        % endif
    </p>
    % endif
    % if word.sbs_example_4 != '':
    <p>
        ${word.sbs_example_4}
        <p class="sutta_sbs">
            ${word.sbs_source_4} ${word.sbs_sutta_4}
        </p>
        % if word.sbs_chapter_4 != '':
        <p class="sutta_sbs">
            ${list_non_empty([word.sbs_chapter_4, word.sbs_chant_pali_4, word.sbs_chant_eng_4])}
        </p>
        % endif
    </p>
    % endif
    
    <p>
    Can you think of a better example? \
${google_link_sbs(entry=word.pali, text='Add it here', args=f'&entry.326955045=Example2')}.
    </p>
</div>

<div id="feedback_sbs_${word.pali_}" class="content_sbs hidden">
  
    <p>
        <a class="link" href="https://sasanarakkha.org/">SBS</a> Pāḷi Dictionary is a work in progress, vocabulary from <a class="link" href="https://github.com/sasanarakkha/pali-english-recitations/releases/latest/">SBS Pāḷi-English Recitation.</a> and other Pāḷi projects. It made available for testing and feedback purposes.
        <br>
        This work based on <a class="link" href="https://digitalpalidictionary.github.io/">Digital Pāḷi Dictionary</a>
        <b> by Ven. Bodhirasa.</b>
        <br>
        (Please explore this website to learn more about GoldenDict features)
        <br>
        <b>Help.</b> Click on any heading or abbrevaiation to get contextual help.
        <br>
        The list of literature you can see in <b>Info</b>
    </p>

    <p>
        <%
        link_text = (
            '<span>Correct a mistake.</span>')
        %>
        ${google_link_sbs(entry=word.pali, text=link_text)}
        <span>
        Did you spot a mistake in the dictionary? Have a bright idea?Please report it. It generally takes less than a minute, and your corrections and suggestions help to improve the quality of this dictionary for everyone who uses it.
        </span>
    </p>

    <p>
      <a class="link" href="https://sasanarakkha.github.io/study-tools/sbs-pali-dictionary.html">Get updated</a>.
      <span>
          Please regularly check for new version.
      </span>
      <p>
          You are using SBS Pāḷi Dictionary for GoldenDict created on <b>${today()}</b>.
      </p>
    </p>
</div>

## vi: syn=mako
